<% @posts.each do |post| %>
  <h4><%= post.name %></h4> </br>
  <%= post.text %>
  <% if logged_in? %>
    written_by <%= post.member.name %>
  <% end %>
<% end %>
<% if logged_in? %>
  <%= link_to "Logout", logout_path %>
  <%= link_to "create_post", new_post_path %>
  <%= link_to "show", current_member %>
<% else %>
  <br/><%= link_to "Login", login_path %>
<% end %>